/* Header */
.main-header {
    background-color: #fff;
    color: #111;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 264px;
  }
  
  .main-header h1 {
    color: #111;
    margin: 0;
  }
  
  .main-header nav {
    margin: 0;
  }
  
  .main-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .main-header nav ul li {
    margin-left: 20px;
  }
  
  .main-header nav ul li a {
    color: #111;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: color 0.3s;
  }
  
  .main-header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    bottom: -2px; /* Menempatkan garis bawah di bawah teks */
    right: 0;
    background: #4CAF50;  /* Warna hijau yang menarik */
    transition: width 0.4s ease;
  }
  
  .main-header nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background-color: #4CAF50;  /* Warna hijau yang menarik */
  }
  
  .main-header nav ul li a:hover {
    color: #4CAF50;  /* Warna hijau yang menarik */
  }
  
  .main-header nav ul li a i {
    margin-right: 5px; /* Spasi antara ikon dan teks */
  }