/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #eef2f7;
}

/* Konten utama */
.main-content {
  margin-left: 260px;
  padding: 20px;
  margin-top: 100px;
}

/* Styling untuk kotak informasi di dashboard */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.info-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 200px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.info-box:hover {
  transform: translateY(-10px);
}

.info-box h3 {
  margin: 0 0 10px;
  font-size: 24px;
}

.info-box p {
  font-size: 18px;
  margin: 0;
}

.info-box .icon {
  font-size: 40px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.info-box:hover .icon {
  transform: scale(1.2);
  color: #4CAF50;
}

.info-box .background-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.info-box-content {
  position: relative;
  z-index: 1;
}

.charts-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.chart-container {
  width: 45%;
  height: 400px;
}

/* Tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

table:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px 20px;
  text-align: left;
  transition: background-color 0.3s ease;
}

th {
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

tr {
  transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr:hover td {
  background-color: #e0f7fa;
}

td {
  background-color: #ffffff;
}

/* Tombol */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
.btn_upload {
  margin-bottom: 10px;
}

/* CSS untuk Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}

.main-content-page {
  display: none; 
  margin-top: 48px;
}

.main-content-page H2 {
  text-align: center;
  font-size: 32px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close {
  color: #fff;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #000;
  transform: scale(1.2);
  text-decoration: none;
}

/* CSS untuk Status */
.status-pending {
  color: red;
  font-weight: bold;
}

.status-success {
  color: green;
  font-weight: bold;
}

/* CSS untuk User Active */
.user-active-inactive {
  color: red;
  font-weight: bold;
}

.user-active-active {
  color: green;
  font-weight: bold;
}

.user-active-inactive i {
  color: red;
}

.user-active-active i {
  color: green;
}
.preparing-data {
  top: 20%;
}
#loadingMessage {
  display: none;
}

#loadingMessage .spinner {
  border: 8px solid rgba(202, 202, 202, 0.3); /* Warna latar belakang */
  border-top: 8px solid #4CAF50; /* Warna ikon spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px auto; /* Pusatkan spinner dan beri jarak antara spinner dan teks */
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.typing-animation {
  display: inline-block;
  animation: blink 1s infinite;
  color: #000000; /* Warna teks */
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* CSS untuk Animasi Loading */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4CAF50;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* CSS untuk Tabel di Modal Konfirmasi Pembelian */
#modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#modal-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

#modal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#modal-table tr:hover {
  background-color: #ddd;
}

/* CSS untuk Ikon Close */
.close i {
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}

.close i:hover {
  color: #000;
}

/* CSS untuk Pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em 1em;
  margin-left: 0.5em;
  cursor: pointer;
  color: #4CAF50 !important;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #45a049;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #4CAF50;
  color: #fff !important;
  border: 1px solid transparent;
  cursor: default;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  cursor: default;
  color: #ccc !important;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/* CSS untuk Info */
.dataTables_wrapper .dataTables_info {
  padding-top: 0.85em;
  white-space: nowrap;
}

/* CSS untuk Length */
.dataTables_wrapper .dataTables_length select {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.dataTables_wrapper .dataTables_length select:focus {
  border-color: #4CAF50;
}

/* CSS untuk Search */
.dataTables_filter input {
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.dataTables_filter input:focus {
  border-color: #4CAF50;
}

